.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 8px;
  }
  
  .pagination li {
    margin-right: 5px;
  }
  
  .pagination li a,
  .pagination li button {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
  }

  .next-btn,
  .prev-btn{
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    margin-top: -6px;
  }
  
  .pagination li a:hover,
  .pagination li button:hover {
    background-color: #f0f0f0;
  }
  
  .pagination li.active a,
  .pagination li.active button {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .pagination button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  